<%- include('./partials/header.ejs') %>


<h1 id="sharing">Sharing is Scary!!</h1>
<section>
    <div class="container">
      <div class="background-img">
        <div class="box">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <div class="content">
            
            <p><a href="/art/new" style="color: white" target="_blank">Welcome to my mind where I bare my soul. I believe there's an artist in all of us, even if we don't know it yet. Creativity and creation has it's basis in all that we do. I think that's at least partly why we're even here. And I believe anyone can learn to draw, if that's the artform you wish to pursue. It's a talent and a skill like coding is. It just takes time and effort. So if you'd like to share some of your art....Click Away!</a></p>
          </div>
          
        </div>
      </div>
    </div>
  </section>

  const pusher = new Pusher({
    app_id = "1276841"
    key = "9cde19c596a5d76637c2"
    secret = "524769e3971f8ef9c2e0"
    cluster = "mt1"
   });

	<h1>Gallery</h1>          
    <ul>
<% if (locals.art) { %>
        <% for (let i = 0; i < art.length; i++) { %>
            <li>
        
            <a href="/art/<%=art[i].id%>"> <h2><%=art[i].name%></h2></a>
            
            
            <a href="/art/<%=art[i].id%>/edit"> <img src="<%=art[i].img%>"></a>
            
            </li>
            <% } %>
<% } %>
    </ul>
    <a href ="/art/new" class="new">Upload a New Piece</a>
  <br/>
<%- include('./partials/footer.ejs') %>