<%- include('./partials/header.ejs') %>
</html>
  <body>
	<h1 class=text-class>Gallery</h1>          
    <ul>
      <% for (let i = 0; i < art.length; i++) { %>
        <li>
          <a href="/art/<%=art[i].id%>"> <h2><%=art[i].name%></h2></a>
          
          
          <a href="/art/<%=art[i].id%>/edit"> <img src="<%=art[i].img%>"></a>
          
        </li>
        <% } %>
    </ul>
    <a href="/art/new">Upload a New Piece</a>
  <br/>
<%- include('./partials/footer.ejs') %>