<%- include('./partials/header.ejs') %>


<h2>Welcome to the art sharing app: Sharing is Scaring!!</h2>
<section>
    <div class="container">
      <div class="background-img">
        <div class="box">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <div class="content">
            
            <p><a href="/art/new" style="color: white" target="_blank">I've uploaded some of my art to bare my soul and share who I am. I believe there's an artist in all of us, even if we don't know it yet. Creativity and creation has it's basis in all that we do really. I think that's at least partly why we're even here. And I believe anyone can learn to draw, if that's the artform you wish to pursue. It's a talent and a skill like coding is. It just takes time and effort. So if you'd like to share some of your art....Click Away!</a></p>
          </div>
          
        </div>
      </div>
    </div>
  </section>



	<h1>Gallery</h1>          
    <ul>
      <!-- <% for (let i = 0; i < art.length; i++) { %> -->
        <li>
     
          <a href="/art/<%=art[i].id%>"> <h2><%=art[i].name%></h2></a>
          
          
          <a href="/art/<%=art[i].id%>/edit"> <img src="<%=art[i].img%>"></a>
          
        </li>
        <!-- <% } %> -->
    </ul>
    <a href ="/art/new" class="new">Upload a New Piece</a>
  <br/>
<%- include('./partials/footer.ejs') %>