
<%- include('./partials/header.ejs') %>

  
	<a href="/art/">Back to products</a>
	<h1><%=art.name%></h1>
	<div>
		<img src="<%=art.img%>">
		<p><%=art.description%></p>
			
			
			<form action="/art/<%=art.id%>?_method=PUT" method="POST">
				<button type="submit">Submit</button>
			</form>
		
		<a href="/art/<%=art.id%>/edit">Edit this product</a>
	</div>
	<form action="/art/<%=art.id%>?_method=DELETE" method="POST">
		<button id="delete">Delete</button>
	</form>

    <%- include('./partials/footer.ejs') %>