
<%- include('./partials/header.ejs') %>
<head>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
  
	<a href="/art/">Back to products</a>
	<h1><%=art.name%></h1>
	<div>
		<img src="<%=art.img%>">
		<p><%=art.description%></p>
		<p>PRICE: $<%=art.price%></p>
		<%if(art.qty <= 0){%>
			<p>OUT OF STOCK</p>
		<%}else{%>
			<p><%=art.qty%> remaining</p>
			<form action="/art/<%=art.id%>/bought?_method=PUT" method="POST">
				<button type="submit">BUY</button>
			</form>
			<h5>Comments</h5>
			<textarea>

			</textarea>
			<form action="/art/<%=art.id%>?_method=PUT" method="POST">
				<button type="submit">Submit</button>
			</form>
		<%}%>
		<a href="/art/<%=art.id%>/edit">Edit this product</a>
	</div>
	<form action="/art/<%=art.id%>?_method=DELETE" method="POST">
		<button>Delete</button>
	</form>

    <%- include('./partials/footer.ejs') %>